doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Edit Sale - MWF
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/addSales.css')
    link(rel='stylesheet' href='/css/addSaleErrors.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js' defer='')

  body
    #hamburger.hamburger
      i.fas.fa-bars

    #sidebar.sidebar
      .logo MWF
      ul.menu
        li
          a(href='/dashboard')
            i.fa-solid.fa-gauge-high
            span Dashboard
        //- li
        //-   a(href='/products')
        //-     i.fas.fa-box
        //-     span Products
        li
          a(href='/stock')
            i.fas.fa-plus-square
            span Add Stock
        li
          a(href='/viewstock')
            i.fas.fa-list
            span View Stock
        li
          a(href='/sales')
            i.fa-solid.fa-comments-dollar
            span Add Sales
        li
          a.active(href='/viewsales')
            i.fas.fa-dollar-sign
            span View Sales
        li
          a(href='/suppliers')
            i.fas.fa-truck
            span Suppliers
        li
          a(href='/employees')
            i.fas.fa-user
            span Add Employee
        li
          a(href='/viewEmployees')
            i.fas.fa-users
            span View Employees
        li
          a(href='/toDo')
            i.fas.fa-list
            span To-Do
        li
          a(href='/reports')
            i.fas.fa-file-alt
            span Reports
        li
          a(href='/settings')
            i.fa-solid.fa-gear
            span Settings
        li.logout
          a(href='/logout')
            i.fas.fa-sign-out-alt
            span Logout

    main.main-content
      .content-container
        header.header-wrapper
          .header-title
            span Mayondo Wood and Furniture
            h2 Edit Sale

        section.add-sales-section
          h3 Update Sale Record

          // Success and main error messages
          if successMessage
            #successMessage.success-message(style='display:block;') #{successMessage}
          else
            #successMessage.success-message(style='display:none;')

          if errorMessage
            #mainError.main-error-message(style='display:block;') #{errorMessage}
          else
            #mainError.main-error-message(style='display:none;')

          // Edit Sales Form
          if sale
            form#editSalesForm(action=`/sales/edit/${sale._id}` method='POST')
              label(for='customerName') Customer Name 
              input#customerName(type='text' name='customerName' value=sale.customerName)
              #errorCustomerName.error-message

              label(for='productType') Product Type 
              select#productType(name='productType')
                option(value='' disabled) Select product type
                option(value='Timber' selected=(sale.productType=='Timber')) Timber
                option(value='Poles' selected=(sale.productType=='Poles')) Poles
                option(value='Hardwood' selected=(sale.productType=='Hardwood')) Hardwood
                option(value='Softwood' selected=(sale.productType=='Softwood')) Softwood
                option(value='Furniture' selected=(sale.productType=='Furniture')) Furniture
              #errorProductType.error-message

              label(for='productName') Product Name 
              select#productName(name='productName')
                option(value='' disabled) Select product name
                option(value=sale.productName selected) #{sale.productName}
              #errorProductName.error-message

              label(for='quantity') Quantity 
              input#quantity(type='number' name='quantity' value=sale.quantity)
              #errorQuantity.error-message

              label(for='saleDate') Sale Date 
              input#saleDate(type='date' name='saleDate' value=(sale.saleDate ? sale.saleDate.toISOString().split("T")[0] : ''))
              #errorSaleDate.error-message

              label(for='paymentType') Payment Type 
              select#paymentType(name='paymentType')
                option(value='' disabled) Select payment type
                option(value='cash' selected=(sale.paymentType=='cash')) Cash
                option(value='cheque' selected=(sale.paymentType=='cheque')) Cheque
                option(value='bankOverdraft' selected=(sale.paymentType=='bankOverdraft')) Bank Overdraft
              #errorPaymentType.error-message

              label(for='salesAgent') Sales Agent Name 
              input#salesAgent(type='text' name='salesAgent' value=sale.salesAgent)
              #errorSalesAgent.error-message

              div(style='margin-top:10px;')
                input#transportProvided(type='checkbox' name='transportProvided' checked=sale.transportProvided)
                label(for='transportProvided') Transport Provided? (+5%)

              label(for='unitPrice') Unit Price (UGX) 
              input#unitPrice(type='number' name='unitPrice' value=sale.unitPrice step='0.01')
              #errorUnitPrice.error-message

              label(for='totalPrice') Total Price (UGX)
              input#totalPrice(type='text' name='totalPrice' value=sale.totalPrice readonly)

              label(for='transportCharge') Transport Charge (5%) (UGX)
              input#transportCharge(type='text' name='transportCharge' value=sale.transportCharge readonly)

              label(for='overallTotal') Overall Total (UGX)
              input#overallTotal(type='text' name='overallTotal' value=sale.overallTotal readonly)

              button(type='submit') Update Sale
              a.cancel-btn(href='/viewsales') Cancel
          else
            p.error-message Sale not found.

    script(src='/js/main.js')
    script(src='/js/addSales.js')
