
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title To-Do - MWF
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/todo.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css")
    script(src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous")
    script(src="/js/main.js" defer)
    script(src="/js/toDoDelete.js" defer)

  body
    // Sidebar
    #sidebar.sidebar
      .logo MWF
      ul.menu
        li
          a(href="/dashboard") 
            i.fa-solid.fa-gauge-high
            span Dashboard
        li
          a(href="/stock") 
            i.fas.fa-plus-square
            span Add Stock
        li
          a(href="/viewstock") 
            i.fas.fa-list
            span View Stock
        li
          a(href="/sales") 
            i.fa-solid.fa-comments-dollar
            span Add Sales
        li
          a(href="/viewsales") 
            i.fas.fa-dollar-sign
            span View Sales
        li
          a(href="/suppliers") 
            i.fas.fa-truck
            span Add Suppliers
        li
          a(href="/employees") 
            i.fas.fa-user
            span Add Employees
        li
          a(href="/viewEmployees") 
            i.fas.fa-users
            span View Employees
        li
          a.active(href="/toDo") 
            i.fas.fa-list
            span To-Do
        li
          a(href="/reports") 
            i.fas.fa-file-alt
            span Reports
        li
          a(href="/settings") 
            i.fa-solid.fa-gear
            span Settings
        li.logout
          a(href="/logout") 
            i.fas.fa-sign-out-alt
            span Logout

    // Main Content
    main.main-content
      header.header-wrapper
        .header-title
          span Mayondo Wood and Furniture
          h2 To-Do Management
        form#searchForm
          input#searchInput(type="text" placeholder="Search tasks...")
          button(type="submit") 
            i.fas.fa-search

      section.todo-section
        // Form
        .form-card
          h3 Register Task
          #mainError.main-error-message
          form#addTaskForm(action='/toDo' method='POST')
            .form-group
              label(for="taskName") Task Name
              input#taskName(type="text" name="taskName" placeholder="Enter task name")
              #errorTaskName.error-message

            .form-group
              label(for="location") Location
              input#location(type="text" name="location" placeholder="Enter location")
              #errorLocation.error-message

            .form-group
              label(for="date") Date
              input#date(type="date" name="date")
              #errorDate.error-message

            .form-group
              label(for="time") Time
              input#time(type="time" name="time")
              #errorTime.error-message

            .form-group
              label(for="assignedPerson") Assigned Person
              input#assignedPerson(type="text" name="assignedPerson" placeholder="Enter assigned person")
              #errorAssignedPerson.error-message

            .form-group
              label(for="description") Task Description
              textarea#description(name="description" rows="4" placeholder="Write task details here...")
              #errorDescription.error-message

            button.btn-submit(type="submit") Add Task
          p#taskSuccess.success-message

        // Table
        .table-wrapper
          h3 Registered Tasks
          table#taskTable
            thead
              tr
                th Task Name
                th Location
                th Date
                th Time
                th Assigned Person
                th Description
                th Actions
            tbody
              if todos.length
                each todo in todos
                  tr
                    td= todo.taskName
                    td= todo.location
                    td= todo.date.toDateString()
                    td= todo.time
                    td= todo.assignedPerson
                    td= todo.description
                    td
                      a.edit-btn(href=`/toDo/edit/${todo._id}`) Edit
                      a.delete-btn(href="#" data-id=todo._id data-task=todo.taskName onclick="openDeleteModal(this)") Delete
              else
                tr
                  td(colspan="7") No tasks registered yet.

    // Delete Confirmation Modal
    #deleteModal.modal
      .modal-content
        span.close(onclick="closeDeleteModal()") ×
        h3 Delete Task
        p#deleteMessage Are you sure you want to delete this task?
        form#deleteForm(method="POST")
          button(type="button" class="btn-cancel" onclick="closeDeleteModal()") Cancel
          button(type="submit" class="btn-confirm")  Delete

    
