
//- doctype html
//- html
//-   head
//-     meta(charset='UTF-8')
//-     meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-     title View Stock - MWF
//-     link(rel='stylesheet' href='css/style.css')
//-     link(rel='stylesheet' href='css/viewStock.css')
//-     link(rel='stylesheet' href='css/viewStockDelete.css')
//-     link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css' integrity='sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==' crossorigin='anonymous' referrerpolicy='no-referrer')
//-     script(src='vendors/fontawesome/all.min.js' defer='')
//-     script(src='js/main.js' defer='')
//-     script(src='js/viewStockDelete.js' defer='')

//-   body
//-     #hamburger.hamburger
//-       i.fas.fa-bars

//-     #sidebar.sidebar
//-       .logo MWF
//-       ul.menu
//-         li
//-           a(href='/dashboard')
//-             i.fa-solid.fa-gauge-high
//-             span Dashboard
//-         li
//-           a(href='/products')
//-             i.fas.fa-box
//-             span Products
//-         li
//-           a(href='/stock')
//-             i.fas.fa-plus-square
//-             span Add Stock
//-         li
//-           a.active(href='/viewstock')
//-             i.fas.fa-list
//-             span View Stock
//-         li
//-           a(href='/sales')
//-             i.fa-solid.fa-comments-dollar
//-             span Add Sales
//-         li
//-           a(href='/viewsales')
//-             i.fas.fa-dollar-sign
//-             span View Sales
//-         li
//-           a(href='/suppliers')
//-             i.fas.fa-truck
//-             span Add Suppliers
//-         li
//-           a(href='/employees')
//-             i.fas.fa-user
//-             span Add Employees
//-         li
//-           a(href='/viewEmployees')
//-             i.fas.fa-users
//-             span View Employees
//-         li
//-           a(href='/toDo')
//-             i.fas.fa-list
//-             span To-Do
//-         li
//-           a(href='/reports')
//-             i.fas.fa-file-alt
//-             span Reports
//-         li
//-           a(href='/settings')
//-             i.fa-solid.fa-gear
//-             span Settings
//-         li.logout
//-           a(href='/logout')
//-             i.fas.fa-sign-out-alt
//-             span Logout

//-     main.main-content
//-       header.header-wrapper
//-         .header-title
//-           span Mayondo Wood and Furniture
//-           h2 Stock Overview

//-       section.view-stock-section
//-         h3 All Stock Items
//-         table#stockTable
//-           thead
//-             tr
//-               th Name
//-               th Type
//-               th Cost Price
//-               th Sale Price
//-               th Quantity
//-               th Supplier
//-               th Actions
//-           tbody
//-             if stocks.length === 0
//-               tr
//-                 td(colspan="7") No stock items found.
//-             else
//-               each stock in stocks
//-                 tr
//-                   td #{stock.productName}
//-                   td #{stock.productType}
//-                   td UGX #{stock.costPrice.toFixed(2)}
//-                   td UGX #{stock.productPrice.toFixed(2)}
//-                   td #{stock.quantity}
//-                   td #{stock.supplierName}
//-                   td
//-                     a.edit-btn(href=`/stock/edit/${stock._id}`) Edit
//-                     a.delete-btn(href="#" data-id=`${stock._id}`) Delete

//-     //- Delete Confirmation Modal
//-     div#deleteModal.modal(style='display:none;')
//-       .modal-content
//-         h3 Confirm Delete
//-         p Are you sure you want to delete this stock item?
//-         .modal-actions
//-           button#confirmDeleteBtn.btn-delete Delete
//-           button#cancelDeleteBtn.btn-cancel Cancel





doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title View Stock - MWF
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/viewStock.css')
    link(rel='stylesheet' href='css/viewStockDelete.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css' integrity='sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='vendors/fontawesome/all.min.js' defer='')
    script(src='js/main.js' defer='')
    script(src='js/viewStockDelete.js' defer='')
    script(src='js/viewStockCards.js' defer='')

  body
    #hamburger.hamburger
      i.fas.fa-bars

    #sidebar.sidebar
      .logo MWF
      ul.menu
        li
          a(href='/dashboard')
            i.fa-solid.fa-gauge-high
            span Dashboard
        li
          a(href='/products')
            i.fas.fa-box
            span Products
        li
          a(href='/stock')
            i.fas.fa-plus-square
            span Add Stock
        li
          a.active(href='/viewstock')
            i.fas.fa-list
            span View Stock
        li
          a(href='/sales')
            i.fa-solid.fa-comments-dollar
            span Add Sales
        li
          a(href='/viewsales')
            i.fas.fa-dollar-sign
            span View Sales
        li
          a(href='/suppliers')
            i.fas.fa-truck
            span Add Suppliers
        li
          a(href='/employees')
            i.fas.fa-user
            span Add Employees
        li
          a(href='/viewEmployees')
            i.fas.fa-users
            span View Employees
        li
          a(href='/toDo')
            i.fas.fa-list
            span To-Do
        li
          a(href='/reports')
            i.fas.fa-file-alt
            span Reports
        li
          a(href='/settings')
            i.fa-solid.fa-gear
            span Settings
        li.logout
          a(href='/logout')
            i.fas.fa-sign-out-alt
            span Logout

    main.main-content
      header.header-wrapper
        .header-title
          span Mayondo Wood and Furniture
          h2 Stock Overview

      section.view-stock-section
        h3 All Stock Items
        table#stockTable
          thead
            tr
              th Name
              th Type
              th Cost Price
              th Sale Price
              th Quantity
              th Supplier
              th Actions
          tbody
            if stocks.length === 0
              tr
                td(colspan="7") No stock items found.
            else
              each stock in stocks
                tr
                  td #{stock.productName}
                  td #{stock.productType}
                  td UGX #{stock.costPrice.toFixed(2)}
                  td UGX #{stock.productPrice.toFixed(2)}
                  td #{stock.quantity}
                  td #{stock.supplierName}
                  td
                    a.edit-btn(href=`/stock/edit/${stock._id}`) Edit
                    a.delete-btn(href="#" data-id=`${stock._id}`) Delete

      //- Cards Section
      section.cards-section
        h3 Stock Categories
        .cards-container
          if stocks.length === 0
            p No categories available.
          else
            - const grouped = {}
            each stock in stocks
              - if (!grouped[stock.productName]) grouped[stock.productName] = []
              - grouped[stock.productName].push(stock)

            each items, productName in grouped
              - const totalQty = items.reduce((sum, s) => sum + s.quantity, 0)
              - let alertClass = "alert-green"
              - let alertText = "Plenty in stock"
              - if (totalQty <= 5) { alertClass = "alert-red"; alertText = "Restock Now" }
              - else if (totalQty <= 10) { alertClass = "alert-yellow"; alertText = "Restock Soon" }

              .card(data-product=productName)
                h4 #{productName}
                p Quantity: #{totalQty}
                span(class=alertClass)= alertText
                //- button.delete-card-btn(data-product=productName) Delete Card

    //- Delete Confirmation Modal (single stock row)
    div#deleteModal.modal(style='display:none;')
      .modal-content
        h3 Confirm Delete
        p Are you sure you want to delete this stock item?
        .modal-actions
          button#confirmDeleteBtn.btn-delete Delete
          button#cancelDeleteBtn.btn-cancel Cancel

    //- Delete Card Confirmation Modal (entire product group)
    div#deleteCardModal.modal(style='display:none;')
      .modal-content
        h3 Confirm Delete
        p Are you sure you want to delete ALL stock items under this product?
        .modal-actions
          button#confirmDeleteCardBtn.btn-delete Delete All
          button#cancelDeleteCardBtn.btn-cancel Cancel
